#attachment-popup-wrapper {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow:auto;
}

#attachClose {
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
}

div#attachment-popup {
    position: absolute;
    left: 25%;
    top: 17%;
    max-width: 50%;
}
 
#attachment_form {
    max-width: 100%;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
}

#attachment_form h2 {
    font-weight: normal;
}

 #attachment_form div {
    padding: 10px;
} 

#attachment_form input, #attachment_form textarea {
    padding: 5px;
}

#attachmentCommentsTxt {
    width: 100%;   
}