.page-name {
    position: absolute;
    padding: 10px;
    font-weight: normal;
}

.sidebar {
    text-align: center;
    padding-top: 20px;
}

#emailBtn {
    color: #A5A5A5;
    text-decoration: none;
    vertical-align: middle;
    font-size: x-large;
}

a#emailBtn:hover {
    color: #444;
};

#message {
    width: 100%;
}