<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Contacts Manager Web Application</display-name>

	<listener>
		<listener-class>
			com.itechart.training.tsvilik.contactsapp.web.ApplicationServletContextListener
		</listener-class>
	</listener> 

	<servlet>
		<servlet-name>FrontController</servlet-name>
		<display-name>FrontController</display-name>
		<servlet-class>com.itechart.training.tsvilik.contactsapp.web.controllers.FrontController</servlet-class>
	</servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
</web-app>
